# Regression Benchmark

# Loading Dataset

In [20]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv("/Users/bhaveshgoyal/Desktop/Internshala-Training/train_bm.csv")

In [9]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [10]:
df.shape

(8523, 12)

# Finding out missing values

In [11]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# Shufflingg and Creating Train and Test Set.For that I will shuffle entire dataset divide into 4 parts.Out of these 4 parts I will use 3 parts for my train dataset and 1 part for test dataset

In [14]:
from sklearn.utils import shuffle

#Shuffling the dataset
df=shuffle(df,random_state=42)

#Creating 4 divisions
div=int(df.shape[0]/4)

# 3 parts to Train set and 1 part to test set
train=df.loc[:3*div+1,:]
test=df.loc[3*div+1:]

In [15]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8193,FDZ10,17.85,Low Fat,0.044533,Snack Foods,127.2020,OUT049,1999,Medium,Tier 1,Supermarket Type1,2656.5420
2799,NCB43,20.20,Low Fat,0.099893,Household,187.6898,OUT035,2004,Small,Tier 2,Supermarket Type1,3928.8858
2573,FDU46,10.30,Regular,0.018623,Snack Foods,87.8540,OUT010,1998,NaN,Tier 3,Grocery Store,259.6620
970,FDT34,9.30,Low Fat,0.174621,Snack Foods,104.2964,OUT049,1999,Medium,Tier 1,Supermarket Type1,1998.7316
2918,FDH20,16.10,Regular,0.025051,Fruits and Vegetables,97.1410,OUT018,2009,Medium,Tier 3,Supermarket Type2,1448.1150

In [16]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
6391,DRM23,16.60,Low Fat,0.135944,Hard Drinks,172.0422,OUT049,1999,Medium,Tier 1,Supermarket Type1,2586.6330
3451,DRG51,12.10,Low Fat,0.011563,Dairy,164.9526,OUT045,2002,NaN,Tier 2,Supermarket Type1,2302.3364
8258,NCV41,14.35,Low Fat,0.017108,Health and Hygiene,110.3228,OUT018,2009,Medium,Tier 3,Supermarket Type2,552.6140
5242,NCG42,19.20,Low Fat,0.041292,Household,130.1310,OUT049,1999,Medium,Tier 1,Supermarket Type1,1038.6480
7678,FDT49,7.00,Low Fat,0.151280,Canned,107.0280,OUT013,1987,High,Tier 3,Supermarket Type1,2876.2560

# Simple Mean (mean of Item_Outlet_Sales)

In [17]:
# Storing simple mean in a new column in the test set as "simple_mean"
test['simple_mean']=train['Item_Outlet_Sales'].mean()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,simple_mean
6391,DRM23,16.60,Low Fat,0.135944,Hard Drinks,172.0422,OUT049,1999,Medium,Tier 1,Supermarket Type1,2586.6330,2176.099641
3451,DRG51,12.10,Low Fat,0.011563,Dairy,164.9526,OUT045,2002,NaN,Tier 2,Supermarket Type1,2302.3364,2176.099641
8258,NCV41,14.35,Low Fat,0.017108,Health and Hygiene,110.3228,OUT018,2009,Medium,Tier 3,Supermarket Type2,552.6140,2176.099641
5242,NCG42,19.20,Low Fat,0.041292,Household,130.1310,OUT049,1999,Medium,Tier 1,Supermarket Type1,1038.6480,2176.099641
7678,FDT49,7.00,Low Fat,0.151280,Canned,107.0280,OUT013,1987,High,Tier 3,Supermarket Type1,2876.2560,2176.099641

# Calculating mean absolute error

In [19]:
from sklearn.metrics import mean_absolute_error as MAE

simple_mean_error=MAE(test['Item_Outlet_Sales'],test['simple_mean'])
simple_mean_error

1355.6718726330262

# Mean Item Outlet Sales with respect to Outlet_Type

In [21]:
out_type=pd.pivot_table(train,values='Item_Outlet_Sales',index=['Outlet_Type'],aggfunc=np.mean)

In [22]:
out_type

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             333.739885
Supermarket Type1        2305.850034
Supermarket Type2        2049.498236
Supermarket Type3        3763.256116