## Dictionary is an unordered data structure with elements seperated by comma and stored as key:value pair.A dictionary is enclosed in curly bracket.

In [2]:
d1={'Ramesh':150,'Suresh':160}

## Access elements of dictionary

In [3]:
d1['Ramesh'] #Elements are accessed by keys rather than index

150

## Adding a single element in dictionary

In [4]:
d1['Aarti']=[14]

In [5]:
d1

{'Ramesh': 150, 'Suresh': 160, 'Aarti': [14]}

## Adding multiple elements at once

In [6]:
d1.update({'abc':[80],'disha':[90]})

In [7]:
d1

{'Ramesh': 150, 'Suresh': 160, 'Aarti': [14], 'abc': [80], 'disha': [90]}

## Delete elements of dictionary

In [8]:
del d1['Ramesh'] # This will delete key value pair

In [9]:
d1

{'Suresh': 160, 'Aarti': [14], 'abc': [80], 'disha': [90]}